.home {
  &__hero {
    margin-bottom: 80px;
    margin-top: 40px;
    text-align: center;
  }

  &__title {
    font-size: 3.5em;
    text-align: center;
    margin-bottom: 26px;
  }

  &__slider {
    .bx-wrapper {
      margin: 0 auto;
    }

    img {
      max-width: 800px;
    }
  }
}
