{{#> layouts/base}}

{{#*inline "content"}}
  <h1>Examples</h1>
  <p>Learn by example! Find below a smattering of examples demonstrating many different features and modes of bxSlider. The slider is packed full of <a href="/options">options</a>, so let’s get on with it!</p>

  {{> partials/examples-list}}
{{/inline}}

{{/layouts/base}}
