---
title: Image gallery with captions
html: |
  <div class="bxslider">
    <div><img src="/assets/images/plant.jpg" /></div>
    <div><img src="/assets/images/daisies.jpg" /></div>
    <div><img src="/assets/images/succulents.jpg" /></div>
  </div>

js: |
  $(function(){
    $('.bxslider').bxSlider({
      mode: 'fade',
      captions: true,
      slideWidth: 800
    });
  });
---

{{#> layouts/content-no-sidebar}}

{{#*inline "content"}}
  <div class="home__hero">
    <h1 class="home__title">Add a slider to any webpage.</h1>

    <div class="home__cta">
      <a href="/install" class="button button--large">Click here to install</a>
    </div>
  </div>

  <div class="home__ads">
    <div class="home__ad">
      <script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?serve=CKYI527Y&placement=bxslidercom" id="_carbonads_js"></script>
    </div>

    <div class="home__paypal">
      {{> partials/paypal-button}}
    </div>
  </div>

  <div class="home__slider">
    {{{page.html}}}
  </div>

  <script>
    {{{page.js}}}
  </script>
{{/inline}}

{{/layouts/content-no-sidebar}}
