{{#> layouts/base}}

{{#*inline "content"}}
  <h1>Options</h1>

  {{#each settings.options}}

    {{#if (eq group "Callbacks")}}
      {{> partials/option-group-with-arguments group=group items=items}}
    {{else}}
      {{> partials/option-group-with-default group=group items=items}}
    {{/if}}

  {{/each}}

{{/inline}}

{{/layouts/base}}
