<header class="header">
  <div class="header__logo">bxSlider</div>
  <nav>
    <a href="/" class="active">Home</a>
    <a href="/examples">Examples</a>
    <a href="/options">Options</a>
    <a href="/faqs">FAQs</a>
  </nav>
</header>
