---
html: |
  <div class="bxslider">
    <div><img src="/assets/images/coffee1.jpg" title="Funky roots" /></div>
    <div><img src="/assets/images/coffee2.jpg" title="The long and winding road" /></div>
    <div><img src="/assets/images/coffee3.jpg" title="Happy trees" /></div>
  </div>

js: |
  $(function(){
    $('.bxslider').bxSlider({
      mode: 'fade',
      captions: true,
      slideWidth: 400
    });
  });
---

{{#> layouts/base}}
{{#*inline "content"}}

{{>
  partials/example-body
  title=page.title
  html=page.html
  js=page.js
}}

{{/inline}}
{{/layouts/base}}
