{{#> layouts/base}}
{{#*inline "content"}}

<main>
  <div class="content">
    {{#> content}}{{/content}}
  </div>

  <aside class="sidebar">
    <div class="sidebar__block">
      <div class="ad"></div>
    </div>

    <div class="sidebar__block">
      <a href="https://paypal.com" class="button button--inverse button--full-width">
        Donate
      </a>
    </div>
  </aside>
</main>

{{/inline}}
{{/layouts/base}}
